button {
	border-color: #673AB7;
	color: #673AB7;
}

button:hover, button:active {
	background-color: #673AB7;
	border-color: #673AB7;
}

.container > input:focus, .container > input:hover, .container > select:hover , .container > div:hover {
	border-bottom-color: #673AB7;
}