button {
	border-color: #03A9F4;
	color: #03A9F4;
}

button:hover, button:active {
	background-color: #03A9F4;
	border-color: #03A9F4;
}

.container > input:focus, .container > input:hover, .container > select:hover , .container > div:hover {
	border-bottom-color: #03A9F4;
}