button {
	border-color: #607D8B;
	color: #607D8B;
}

button:hover, button:active {
	border-color: #607D8B;
	background-color: #607D8B;
}

.container > input:focus, .container > input:hover, .container > select:hover , .container > div:hover {
	border-bottom-color: #607D8B;
}
