button {
	border-color: #4CAF50;
	color: #4CAF50;
}

button:hover, button:active {
	border-color: #4CAF50;
	background-color: #4CAF50;
}

.container > input:focus, .container > input:hover, .container > select:hover , .container > div:hover {
	border-bottom-color: #4CAF50;
}