body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	margin: 0 auto;
	margin-top: 5em;
	padding-bottom: 5em;
	width: 40%;
}

a {
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

h1 {
	font-weight: 400;
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
} 

nav {
	margin-top: 3em;
}

nav > a {
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	line-height: 1.5em;
	margin-top: 0.5em;
	padding: 5px;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

nav > a:hover {
	background-color: rgba(0,0,0,0.05);
}

nav > a > span:first-child {
	font-size: 1em;
	font-weight: 700;
}

nav > a > span:first-child:after{
	content: ': ';
}

nav > a:nth-child(1) > span:first-child {
	color: #673AB7;
}

nav > a:nth-child(2) > span:first-child {
	color: #03A9F4;
}

nav > a:nth-child(3) > span:first-child {
	color: #4CAF50;
}

nav > a:nth-child(4) > span:first-child {
	color: #607D8B;
}





form {
	display: block;
	margin: 5px;
}

.container {
	display: block;
	height: auto;
	margin: 0.5em 0;
	width: 100%;
}

.container > input, .container > div {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	margin: 0;
	outline: none;
	padding: 0.5em;
	padding-left: 0.75em;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	width: 100%;
}

.container > input:focus, .container > input:hover, .container > select:hover , .container > div:hover {
	border-bottom: 2px solid;
}

.container > span, .container > label {
  	-webkit-box-sizing: border-box;
  	        box-sizing: border-box;
  	display: block;
  	font-size: 0.9em;
  	font-weight: 700;
  	margin-bottom: -3px;
  	margin-top: 1em;
  	opacity: 0.9;
  	padding-left: 0.8em;
  	text-align: left;
  	text-transform: uppercase;
  	width: 100%;
}

.container > select {
	background-color: white;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	margin: 0;
	outline: none;
	padding: 0.5em;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	width: 100%;
}

.error {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #B71C1C;
	display: block;
	margin: 0.7em;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 100%;
}

button {
	background-color: white;
	border-radius: 3px;
	border: 2px solid;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	font-weight: 700;
	height: 45px;
	margin: 2em auto 0 auto;
	outline: none;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	width: 40%;
}

button:hover, button:active {
	border: 2px solid;
	color: white;
}

#attribute {
	font-weight: 600;
	left: -130px;
	opacity: 0.2;
	position: absolute;
	top: 200px;
	-webkit-transform: rotate(270deg);
	        transform: rotate(270deg);
}

#mobile-attr {
	display: none;
	font-weight: 600;
	margin-top: 2em;
	opacity: 0.2;
	padding: 5px;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#attribute:hover, #mobile-attr:hover {
	opacity: 0.6;
}

/*optimization for mobiles and tablets*/


@media all and (max-width: 1000px) {
  body {
  	width: 80%;
  }

  #attribute {
  	display: none;
  }

  #mobile-attr {
  	display: block;
  }
}